/* Importar POPPINS DO GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* TODO O SITE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
/* TODO O SITE */


/* CORES DO SITE */
:root {
    --main-color: #940087;
    --text-color: #F2F2F2;
    --bg-color1: #5F3273;
    --bg-color2: #64278C;
    --bg-color3: #1F1640;
    --bg-color4: #040926;
    --bg-color5: #2ba69a;
    --bg-color6: #27F2CD;
}
/* CORES DO SITE */


/* todo o site */
html {
    font-size: 60%;
    overflow-x: hidden;
}
/* todo o site */


/* BODY */

body {
    color: var(--text-color);
    background-color: var(--bg-color4);
}

/* BODY */

/* -------------------------INICIO DE TODO O HEADER DO HTML-------------------------*/
/* HEADER CABEÇALHO */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background-color: #1f1640b0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
/* HEADER CABEÇALHO */


#menu-icon {
    font-size: 3.5vw;
    color: var(--main-color);
    display: none;
}


/* LOGO */
.logo{
    font-size: 3rem;
    color: var(--bg-color5);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
    /* LOGO */
}

/* cor dos spans */
span {
    background: linear-gradient(270deg, 
    #ffffff 10%,
    #530548 100%
    );
    background-clip:text;
    color: transparent;
}
/* cor dos spans */

/* NAV BAR */
.navbar a {
    font-size: 1.8rem;
    color: var(--bg-color5);
    margin-left: 4rem;
    font-weight: 200;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover{
    color: var(--bg-color6);
    border-bottom: 3px solid var(--bg-color6);
}

/* NAV BAR */

/* GRADIENT */
.gradient-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem ;
    border-radius: 3rem;
    background: linear-gradient(270deg, 
    #ffffff 10%,
    #530548 100%
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;
}

.gradient-btn:hover {
    transform: scale(1.05);
}
/* GRADIENT */
/* -------------------------FIM DE TODO O HEADER DO HTML-------------------------*/



/* -------------------------INICIO DE TODO HOME DO HTML-------------------------*/
section{
    min-height: 100vh;
    padding: 10rem 15%;
}

/* HOME */

.animate-text,
.social-icons,
.btn-group {
    opacity: 0;
    transform: translateX(-50px); /* Move o texto para a ESQUERDA */
    animation: fadeSlideIn 1.5s ease-out forwards;
  }
  
  @keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateX(-50px); /* Começa deslocado para a esquerda */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* Chega na posição normal */
    }
  }
  
  .animate2 {
    opacity: 0;
    transform: translateY(-50px); /* Começa deslocado para cima */
    animation: fadeSlideDown 1.5s ease-out forwards;

  }
  
  @keyframes fadeSlideDown {
    0% {
      opacity: 0;
      transform: translateY(-50px); /* Começa deslocado para cima */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Chega na posição normal */
    }
  }
  
  
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10rem;
    text-align: left;
}


.home-content h1 {
    font-size: 12rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
    cursor: default;


}

.home-content h3  {
    align-self: flex-start; /* Faz apenas o h3 alinhar à esquerda */
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 200;
    color: var(--bg-color6);
    cursor: default;


}



/* HOME */

/* SOCIAL */
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background-color: transparent;
    border-radius: 50%;
    color: var(--bg-color6);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: var(--text-color);
    background-color: var(--bg-color5);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--bg-color5);
}
/* SOCIAL */

/* BOTOOM */

.btn-group {
    display: flex;
    gap: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: transparent;
    box-shadow: 0 0 10px var(--bg-color5);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: var(--bg-color5);
    border: 2px solid transparent;
    font-weight: 400;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.10);
    box-shadow: 0 0 20px var(--bg-color6);
}


/* BOTOOM */
/* -------------------------FIM DE TODO HOME DO HTML-------------------------*/



/* -------------------------INICIO DE TODO SOBRE DO HTML-------------------------*/
.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 2rem;
    cursor: default;

    
}
 
.sobre-img img{
    width: 25vw;
    border-radius: 5%;
    transition: 0.4s ease-in-out;
}

.sobre img img:hover {
    box-shadow: 0 0 25px var(--main-color);
    box-shadow: 0 0 50px var(--main-color);
    box-shadow: 0 0 100px var(--main-color);
}

.sobre-content h2 {
    font-size: 5rem;
    text-align: left;
    font-weight: 200;
}
.sobre-content p span {
    color: var(--bg-color6) ;
}
.sobre-content p {
    font-size: 1.8rem;
}

.sobre-content .btn {
    margin: 3rem 0;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb { 
    background-color: var(--bg-color5);
}
::-webkit-scrollbar-track {
    background-color: var(--bg-color1);
}
/* SCROLLBAR */
/* -------------------------FIM DE TODO SOBRE DO HTML-------------------------*/


/* -------------------------INICIO DE TODO TECNOLOGIA DO HTML-------------------------*/



.heading h2 {
    font-size: 5rem;
    font-weight: 200;
    cursor: default;
}

.icons i{
    color: var(--bg-color2);

}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    margin-top: 10rem; 
    pointer-events: none ;
    font-size: 12rem;
}

.icons p {
    font-size: 5rem;
    color: var(--bg-color6);
}




/* -------------------------FIM DE TODO TECNOLOGIA DO HTML-------------------------*/



/* -------------------------INICIO DE TODO SERVIÇO DO HTML-------------------------*/


.heading {
    text-align: center;
    font-size: 7rem;
    padding: 1rem;
    line-height: 2;
    margin-top: 2rem;
}
    
.serviço {
    color: #030352;
  
}

.serviço h2 {
    color: var(--text-color);
    line-height: 2;
    padding: 1rem;
    margin: 1rem;
    font-weight: 200;
    cursor: default;

}

.serviço-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    align-items: center;
    gap: 1.5rem;
}

.serviço-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color5);
    height: 300px;
    border-radius: 3rem;
    cursor: pointer;
    border: 4px solid transparent;
    transition: 0.4s ease-in-out;
}

.serviço-box:hover {
    background: var(--bg--color4);
    color: var(--bg-color5);
    border: 5px solid var(--bg-color6);
    transform: scale(1.03);
}

.serviço-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.serviço-info h4 {
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}

.serviço-info p {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}

.serviço-info i {
    font-size: 4rem;
} 
/* -------------------------FIM DE TODO SERVIÇO DO HTML-------------------------*/



/* -------------------------INICIO DE TODO PROJETO DO HTML-------------------------*/
/* .projetos */


.projetos h2{
    font-weight: 200;
    cursor: default;
}
    

.projetos-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
    padding: 5%;    
}

.projetos-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border: 2px solid var(--bg-color6);
    border-radius: 3rem;
    gap: 2rem;
    padding: 4rem 2rem;
    overflow: hidden;
    transition: 0.3s ease;
}

.projetos-card img {
    max-width: 200px;
    border-radius: 2rem;
    object-fit: cover;
}

.projetos-card p {
    font-size: 2rem;
    font-weight: 200;
    color: var(--bg-color6);

}

.projetos-card .btn{
    cursor: pointer;
}
/* -------------------------FIM DE TODO PROJETO DO HTML-------------------------*/



/* -------------------------INICIO DE TODO CONTATO DO HTML-------------------------*/
.contato {
    background-color: var(--bg-color1);
}

.contato h2 {
    margin-bottom: 3rem;
    color: var(--text-color);
}

.contato form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}

.contato form .input-box input,
.contato form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--bg-color1);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

/* -------------------------FIM DE TODO CONTATO DO HTML-------------------------*/



/* -------------------------INICO DE TODO FOOTER DO HTML-------------------------*/
.footer {
    padding: 50px 0;
    background-color: var(--bg-color3);
}

.footer .social-icons{
    text-align: center;
}

.footer ul {
    text-align: center;
    font-size: 1.8rem;
}

.footer ul li {
    display: inline-block;
    margin-left: 20px;
}

.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
    border-bottom: 3px solid var(--main-color);
}

.footer .copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}
/* -------------------------FIM DE TODO FOOTER DO HTML-------------------------*/



/* ------------------------- PARA TELAS MENORES-------------------------*/

/* Para telas menores (smartphones) */
@media (max-width: 1285px) {
    #menu-icon {
        display: block;
    }

    .navbar {
       position: absolute;
       top: 100%;
       right: 0;
       width: 50%;
       padding: 1rem 3rem;
       border-bottom-left-radius: 2rem;
       border-left: 2px solid var(--bg-color5);
       border-bottom: 2px solid var(--bg-color5);
       background: #1f1640b0;
       backdrop-filter: blur(10px);
       display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        margin: 3rem 0;
        display: block;
        font-size: 2rem;
        color: var(--text-color);
        background-color: var(--bg-color6);
    }

    .gradient-btn{
        display: none;
    }

    section {
        min-height: auto;
        padding: 5rem 5%;
    }

    .home {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 5rem;
    }

    .home-content h1 {
        font-size: 6vw;
    }

    .social-icons a {
        margin: 2rem 0.5rem;
    }

    .btn-group {
        flex-direction: column;
    }

    .sobre {
        flex-direction: column;
        gap: 2rem;
    }

    .sobre-img img{
        width: 90vw;
    }

    .icons {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .serviço-container {
        grid-template-columns: 1fr;
    }

    .projetos-box{
        grid-template-columns: 1fr;
    }
}